<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a
            (click)="sidenav.close(); scrollToElementByID('portfolio')"
            mat-list-item
            routerLink="/home"
            routerLinkActive="active"
          >
            <span class="text-uppercase" translate>PORTFOLIO</span>
          </a>
          <mat-divider></mat-divider>
          <a
            (click)="sidenav.close(); scrollToElementByID('about')"
            mat-list-item
            routerLink="/about"
            routerLinkActive="active"
          >
            <span class="text-uppercase" translate>ABOUT</span>
          </a>
          <mat-divider></mat-divider>
          <a
            (click)="sidenav.close(); scrollToElementByID('contact')"
            mat-list-item
            routerLink="/contact"
            routerLinkActive="active"
          >
            <span class="text-uppercase" translate>CONTACT.SELF</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [sidenav]="sidenav"></app-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
