<div class="container">
  <mat-card class="bg-primary">
    <mat-card-content>
      <!-- About Section -->
      <section class="text-white mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">About</h2>
          <div fxLayout="column" fxLayoutAlign="center center" class="m-4">
            <div fxFlexAlign="center center">
              <mat-icon class="mat-icon-star" fxFlexAlign="center center">star</mat-icon>
            </div>
          </div>
          <div class="row">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
              <div fxFlex="50">
                <p class="lead mat-body text-center">
                  {{ config?.about?.section1 }}
                </p>
              </div>
              <div fxFlex="50">
                <p class="lead mat-body text-center">
                  {{ config?.about?.section2 }}
                </p>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <a href="assets/pdf/graduate_software_engineer.pdf" mat-icon-button target="_blank">
              <mat-icon>cloud_download</mat-icon>
            </a>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
