<div class="container">
  <mat-card class="bg-primary">
    <mat-card-content>
      <!-- About Section -->
      <section class="text-white mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-white">About</h2>
          <div fxLayout="column" fxLayoutAlign="center center" class="m-4">
            <div fxFlexAlign="center center">
              <mat-icon fxFlexAlign="center center" class="mat-icon-star">star </mat-icon>
            </div>
          </div>
          <div class="row">
            <div fxLayout="column" fxLayoutAlign="center">
              <p class="lead mat-body">
                {{ config?.about }}
              </p>
            </div>
            <div fxLayout="column" fxLayoutAlign="center">
              <p class="lead">
                <!--{{ config?.about }}-->
              </p>
            </div>
          </div>
          <div class="text-center mt-4">
            <a mat-raised-button href="#">
              <mat-icon>download</mat-icon>
              Download Now {{ 'version' | translate }} {{ version }}!
            </a>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
