<div class="container">
  <mat-card>
    <p><img alt="angular logo" class="logo" src="assets/ngx-rocket-logo.png" /></p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </mat-card-subtitle>
      <mat-card-actions>
        <button
          [angularticsCategory]="quote"
          angulartics2On="click"
          angularticsAction="Click button below quote"
          mat-raised-button
        >
          Click me to send an Analytics event
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
