<div class="container">
  <mat-card>
    <p><img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" /></p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-raised-button
          angulartics2On="click"
          angularticsAction="Click button below quote"
          [angularticsCategory]="quote"
        >
          Click me to send an Analytics event
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
          <hr class="star-dark mb-5" />
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/cabin.png" alt="" />
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/cake.png" alt="" />
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/circus.png" alt="" />
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/game.png" alt="" />
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/safe.png" alt="" />
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/submarine.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
