<div class="container">
  <!--<button-->
  <!--mat-raised-button-->
  <!--angulartics2On="click"-->
  <!--angularticsAction="Click button below quote"-->
  <!--[angularticsCategory]="quote"-->
  <!--&gt;-->

  <mat-card>
    <mat-card-content>
      <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
        <div class="container" gdAuto>
          <h2 class="text-center text-uppercase text-secondary mb-0 mat-display-2">Portfolio</h2>
          <hr class="star-dark mb-5" />

          <div fxLayout="row wrap" fxLayoutAlign="center">
            <div class="project">
              <a class="portfolio-item d-block margin-auto" href="#portfolio-modal-1">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-project img-fluid" src="assets/img/portfolio/cabin.png" alt="" />
              </a>
            </div>
            <div class="project">
              <a class="portfolio-item d-block margin-auto" href="#portfolio-modal-2">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-project img-fluid" src="assets/img/portfolio/cake.png" alt="" />
              </a>
            </div>
            <div class="project">
              <a class="portfolio-item d-block margin-auto" href="#portfolio-modal-3">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-project img-fluid" src="assets/img/portfolio/circus.png" alt="" />
              </a>
            </div>
            <div class="project">
              <a class="portfolio-item d-block margin-auto" href="#portfolio-modal-4">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-project img-fluid" src="assets/img/portfolio/game.png" alt="" />
              </a>
            </div>
            <div class="project">
              <a class="portfolio-item d-block margin-auto" href="#portfolio-modal-5">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-project img-fluid" src="assets/img/portfolio/safe.png" alt="" />
              </a>
            </div>
            <div class="project">
              <a class="portfolio-item d-block margin-auto" href="#portfolio-modal-6">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                  <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-project img-fluid" src="assets/img/portfolio/submarine.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>

<app-about></app-about>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <mat-card>
      <!--<mat-card-header>-->
      <h2 class="mat-display-2 text-center text-uppercase text-secondary mb-0">Contact Me</h2>
      <!--</mat-card-header>-->
      <mat-card-content fxLayoutAlign="center">
        <form class="contact-form" action="https://formspree.io/anthony.na@hotmail.com" method="POST">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matNativeControl id="name" name="name" type="text" placeholder="Name" required="required" />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              #characterCountInputHintExample
              maxLength="40"
              id="email"
              name="_replyto"
              type="email"
              placeholder="Email Address"
              required="required"
            />
            <mat-hint align="end" aria-live="polite">
              {{ characterCountInputHintExample.value.length }} / 100
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput #characterCountInputHintExample maxLength="20" />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput #characterCountTextareaHintExample maxLength="100"></textarea>
            <mat-hint align="end" aria-live="polite">
              {{ characterCountTextareaHintExample.value.length }} / 100
            </mat-hint>
          </mat-form-field>

          <button class="full-width" mat-raised-button color="accent">
            Send
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div fxLayout="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">2215 John Daniel Drive <br />Clark, MO 65243</p>
      </div>
      <div>
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <div fxLayout="row">
          <!--buttons-->
        </div>
      </div>
      <div>
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <div fxLayout="row">
          <!--buttons-->
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">
          Freelance is a free to use, open source Bootstrap theme created by
          <a href="http://startbootstrap.com">Start Bootstrap</a>.
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Your Website 2019</small>
  </div>
</div>
